@page
@model ApiUsersApplication.Pages.AddUsersModel
@{
}

<form id="users-frm" name="users-frm" method="post">
    <textarea id="apiRequest" name="apiRequest" rows="20" cols="70"></textarea><br /><br />
    <input type="submit" name="users-submit" id="users-submit" value="Load Data" />
</form>
